/* Estilos para el body */
body {
  background: #f6f8fa;
  background-image: url("verde.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font: 300 13px "Roboto", sans-serif;
  height: 100%;
  position: fixed;
  width: 100%;
}

/* Estilos para la tabla */
table {
  background-color: #bdecb6;
  border-collapse: separate;
  border-spacing: 0;
  color: #333333;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  width: 100%;
}

/* Estilos para los encabezados de la tabla */
th {
  background-color: #a7d6a3;
  border: 1px solid #6b8e6b;
  font-weight: bold;
  padding: 15px;
  text-transform: uppercase;
}

/* Estilos para las celdas de la tabla */
td {
  background-color: #f7fff7;
  border: 1px solid #6b8e6b;
  padding: 15px;
}

/* Estilos para las filas pares de la tabla */
tr:nth-child(even) td {
  background-color: #e1ffe1;
}

/* Estilos para el efecto hover de la tabla */
tr:hover td {
  background-color: #c7ffc7;
}

/* Estilos para los botones */
button {
  background-color: #bdecb6;
  border-color: #6b8e6b;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  padding: 7px;
  transition: all .4s ease-out;
}

/* Estilos para el efecto hover de los botones */
button:hover {
  background-color: #00ff00;
  color: #fff;
}
