body {
  background: #f6f8fa;
  font: 300 13px "Roboto", sans-serif;
  color: #ffffff;
  background-image: url("verde.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  width: 100%;
  height: 100%;
}
table {
  font-family: Arial, sans-serif;
  color: #333333;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #bdecb6;
}

th {
  background-color: #a7d6a3;
  border: 1px solid #6b8e6b;
  padding: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  background-color: #f7fff7;
  border: 1px solid #6b8e6b;
  padding: 15px;
}

tr:nth-child(even) td {
  background-color: #e1ffe1;
}

tr:hover td {
  background-color: #c7ffc7;
}

}