<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>compras</title>
    <link rel="stylesheet" href="compras.css">
</head>
<body>
<table class="rwd-table">
    <tr>
        <th>id</th>
        <th>pedidos</th>
        <th>fecha de fabricacion</th>
        <th>fabricacion</th>
        <th>envio</th>
        <th>Valor total</th>

    </tr>
    <tr>
        <td data-th="id">100038305</td>
        <td data-th="pedido">toalla de mano (1)</td>
        <td data-th="fecha de fabricacion">12/03/2023</td>
        <td data-th="fabricacion">finalizado</td>
        <td data-th="envio">entregado</td>
        <td data-th="valor total">140.000</td>
    </tr>
    <tr>
        <td data-th="id">1821186450</td>
        <td data-th="pedido">toalla de tocador (1)</td>
        <td data-th="fecha de fabricacion">15/03/2023</td>
        <td data-th="fabricacion">proceso</td>
        <td data-th="envio">en espera</td>
        <td data-th="valor total">500.000</td>
    </tr>
</table>
<button  onclick="location.href='';" class="custom-btn btn-1">editar
<button  onclick="location.href='pagina.html';" class="custom-btn btn-1">Inicio
</body>
</html>