<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>pagina</title>
  <link rel="stylesheet" href="pagina.css">
</head>
<body></body>
<header>
  <a href="#"> TIENDA DE TOALLAS</a>
  <nav>
    <a href="usuario.html" class="navbar-brand pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Iniciar sesion </a>
    <a href="usuario.html" class="navbar-brand pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Mis pedidos </a>
    <a href="pedido.html" class="navbar-brand pull-right"><span class="glyphicon glyphicon-shopping-cart"></span> Carrito </a>
  </nav>
</header>
<main>
  <section class="hero">
    <div class="hero-txt">
      <h1>
        <span></span>
      </h1>
    </div>
  </section>

  <section class="productos">
    <h2 class="title-c">productos</h2>
    <div class="contenedor">
      <article class="card">
        <div class="card-img" id="tocador"></div>
        <div class="card-txt">
          <h3>TOALLA DE TOCADOR</h3>
          <p>30×50 cm</p>
          <a href="" class="btn">agregar al carrito</a>
        </div>
      </article>
      <article class="card">
        <div class="card-img" id="mano"></div>
        <div class="card-txt">
          <h3>TOALLA DE MANO</h3>
          <p>50×100 cm</p>
          <a href="" class="btn">agregar al carrito</a>
        </div>
      </article>
      <article class="card">
        <div class="card-img" id="ducha"></div>
        <div class="card-txt">
          <h3>TOALLA DE DUCHA</h3>
          <p>70×140 cm</p>
          <a href="" class="btn">agregar al carrito</a>
        </div>
      </article>
      <article class="card">
        <div class="card-img" id="baño"></div>
        <div class="card-txt">
          <h3>TOALLA DE BAÑO</h3>
          <p>100×150cm</p>
          <a href="" class="btn">agregar al carrito</a>
        </div>
      </article>
    </div>
  </section>
</main>
</body>
</html>