* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url(fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 4%;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.4);
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0d009c;
}

.label-float input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #0d009c;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  transition: all 0.3s ease-out;
}

.label-float {
  position: relative;
  padding-top: 13px;
  margin: 5% 0;
}

.label-float input:focus {
  border-bottom: 2px solid #4038a0;
}

.label-float label {
  color: #0d009c;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all 0.3s ease-out;
}

.label-float input:focus + label,
.label-float input:valid + label {
  font-size: 13px;
  margin-top: 0;
  color: #4038a0;
}

button {
  background-color: transparent;
  border: 2px solid #0d009c;
  color: #0d009c;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  margin-top: 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.4s ease-out;
}

button:hover {
  background-color: #0d009c;
  color: #fff;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.fa-eye {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  color: #0d009c;
}

#msgError, #msgSuccess {
  text-align: center;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

#msgError {
  color: #ff0000;
  background-color: #ffbbbb;
}

#msgSuccess {
  color: #00bb00;
  background-color: #bbffbe;
}
