<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>compras</title>
    <link rel="stylesheet" href="../static/compras.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Pedidos</th>
        <th>Fecha de fabricación</th>
        <th>Fabricación</th>
        <th>Envío</th>
        <th>Valor</th>
        <th>Editar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="registro : ${registros}">
        <td th:text="${registro.id}"></td>
        <td th:text="${registro.pedido}"></td>
        <td th:text="${registro.fechaFabricacion}"></td>
        <td th:text="${registro.fabricacion}"></td>
        <td th:text="${registro.envio}"></td>
        <td th:text="${registro.valor}"></td>
        <td>
            <button onclick="location.href='';" class="custom-btn btn-1">Confirmar</button>
            <button onclick="location.href='';" class="custom-btn btn-1">Eliminar</button>
        </td>
    </tr>
    </tbody>
</table>
<button onclick="location.href='pagina.html';" class="custom-btn btn-1">Inicio</button>
<button onclick="location.href='';" class="custom-btn btn-1">Editar</button>
</body>
</html>
