<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuario</title>
    <link rel="stylesheet" href="../static/usuario.css">
</head>
<body>
<head>

</head>

<body>

<div class='container'>
    <div class='card'>
        <h1> Registro </h1>

        <div id='msgError'></div>
        <div id='msgSuccess'></div>

        <div class="label-float">
            <input type="text" id="nombre" placeholder=" " required>
            <label id="labelnombre" for="nombre">Nombre</label>
        </div>
        <div class="label-float">
            <input type="cedula" id="cedula" placeholder=" " required>
            <label id="labelcedula" for="cedula">cedula</label>
            <i id="vercedula" class="fa fa-eye" aria-hidden="false"></i>
        </div>
        <div class='justify-center'>
            <button onclick="location.href='compras.html';" class="custom-btn btn">Iniciar sesión</button>
        </div>
    </div>
</div>
</body>
</body>
</html>